
@font-face {
	font-family: "rsfont";
  src: url('../fonts/rsfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.rs-font {
  font-family:"rsfont" !important;
  font-size:16px;
  font-style:normal;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.rs-shuaxin:before { content: "\e615"; }

.rs-tuiguangzhong:before { content: "\e623"; }

.rs-baoting:before { content: "\e631"; }

.rs-wangdian:before { content: "\e601"; }

.rs-xiaoxi:before { content: "\e602"; }

.rs-daohang:before { content: "\e664"; }

.rs-unie664:before { content: "\e630"; }

.rs-shaixuan1:before { content: "\e632"; }

.rs-waichudengji:before { content: "\e647"; }

.rs-zhengzhaodengji:before { content: "\e63a"; }

.rs-tuangou:before { content: "\e661"; }

.rs-tishi:before { content: "\e624"; }

.rs-bangzhu:before { content: "\e625"; }

.rs-xiangji:before { content: "\e603"; }

.rs-wode:before { content: "\e627"; }

.rs-fukuanma:before { content: "\e605"; }

.rs-licai:before { content: "\e60a"; }

.rs-jiud:before { content: "\e65c"; }

.rs-gonggao1:before { content: "\e638"; }

.rs-shouqi:before { content: "\e677"; }

.rs-chuqin:before { content: "\e649"; }

.rs-ziliao:before { content: "\e604"; }

.rs-xiaoxi1:before { content: "\e655"; }

.rs-crmtubiao65:before { content: "\e606"; }

.rs-xiaoxi2:before { content: "\e607"; }

.rs-xiaolian:before { content: "\e63b"; }

.rs-qiandao:before { content: "\e608"; }

.rs-qudaogenzong:before { content: "\e629"; }

.rs-jilu:before { content: "\e61b"; }

.rs-ruanjianxiazai:before { content: "\e628"; }

.rs-huikuan:before { content: "\e62a"; }

.rs-iconfontdizhi:before { content: "\e63c"; }

.rs-peizhirenyuan:before { content: "\e656"; }

.rs-lianxiren:before { content: "\e63d"; }

.rs-kuanggong:before { content: "\e64a"; }

.rs-shenbao:before { content: "\e63e"; }

.rs-qingjia:before { content: "\e620"; }

.rs-qiandao1:before { content: "\e60c"; }

.rs-wode5:before { content: "\e666"; }

.rs-kaoqin:before { content: "\e633"; }

.rs-xiujiajieyu:before { content: "\e621"; }

.rs-l:before { content: "\e619"; }

.rs-wangshenbao:before { content: "\e64b"; }

.rs-wenti2:before { content: "\e659"; }

.rs-guanyuwomen:before { content: "\e75b"; }

.rs-qi:before { content: "\e6d3"; }

.rs-gonghuoshangdingdanguanli:before { content: "\e60d"; }

.rs-gongzuotai:before { content: "\e60e"; }

.rs-kulian:before { content: "\e63f"; }

.rs-jingxiaoshang:before { content: "\e65d"; }

.rs-ziliao1:before { content: "\e60f"; }

.rs-qiandao2:before { content: "\e610"; }

.rs-saoma:before { content: "\e611"; }

.rs-xiangshang3:before { content: "\e617"; }

.rs-xiangxia5:before { content: "\e61e"; }

.rs-xiangyou3:before { content: "\e622"; }

.rs-wangdiandongtai:before { content: "\e653"; }

.rs-xingcheng:before { content: "\e663"; }

.rs-shangchuan:before { content: "\e67a"; }

.rs-inv:before { content: "\e612"; }

.rs-gonggao:before { content: "\e614"; }

.rs-approve:before { content: "\e8ad"; }

.rs-huiyi:before { content: "\e6bd"; }

.rs-xiaolian1:before { content: "\e640"; }

.rs-tongxunlu:before { content: "\e62b"; }

.rs-gonghuo:before { content: "\e669"; }

.rs-dingweikaoqin:before { content: "\e616"; }

.rs-rencaipandian:before { content: "\e618"; }

.rs-kulian1:before { content: "\e641"; }

.rs-xiayiye1:before { content: "\e64d"; }

.rs-yunzuobumen:before { content: "\e654"; }

.rs-xiaolian2:before { content: "\e642"; }

.rs-xiugaimima:before { content: "\e65a"; }

.rs-shangyiye-copy:before { content: "\e64e"; }

.rs-cf-c79:before { content: "\e61a"; }

.rs-kaoqin1:before { content: "\e635"; }

.rs-shoucang2:before { content: "\e672"; }

.rs-qiandao3:before { content: "\e626"; }

.rs-weidu:before { content: "\e657"; }

.rs-jibenxinxi:before { content: "\e643"; }

.rs-daibanwork:before { content: "\e639"; }

.rs-ziliao2:before { content: "\e61c"; }

.rs-chukuguanli:before { content: "\e634"; }

.rs-baifangxinxi:before { content: "\e61d"; }

.rs-shangchuan1:before { content: "\e67b"; }

.rs-renyuanshenbao:before { content: "\e64c"; }

.rs-liutong:before { content: "\e65e"; }

.rs-renwu:before { content: "\e62d"; }

.rs-zhuanmaidian:before { content: "\e65f"; }

.rs-yingxiao:before { content: "\e644"; }

.rs-kaoqin11:before { content: "\e667"; }

.rs-dengru:before { content: "\e648"; }

.rs-wangdianbaifang:before { content: "\e62f"; }

.rs-wangdianxinxi:before { content: "\e62e"; }

.rs-virtualNumber:before { content: "\e662"; }

.rs-huodong:before { content: "\e66b"; }

.rs-shoukuan:before { content: "\e61f"; }

.rs-ryes:before { content: "\e658"; }

.rs-qudaogenzong1:before { content: "\e600"; }

.rs-dudao:before { content: "\e609"; }

.rs-li:before { content: "\e62c"; }

.rs-baifang:before { content: "\e60b"; }

.rs-xunfang:before { content: "\e613"; }

.rs-dongxiao:before { content: "\e636"; }

.rs-xiaoshou:before { content: "\e637"; }

.rs-yiduxiaoxi:before { content: "\e853"; }

.rs-icon79:before { content: "\e769"; }

.rs-xiaolian-copy:before { content: "\e645"; }

.rs-icon0202:before { content: "\e646"; }

.rs-peishu:before { content: "\e651"; }

.rs-qita:before { content: "\e673"; }

.rs-gengxin:before { content: "\e668"; }

.rs-chexiao:before { content: "\e652"; }

.rs-bangzhuzhongxin:before { content: "\e6d9"; }

.rs-previous-copy:before { content: "\e64f"; }

.rs-show1:before { content: "\e6e1"; }

.rs-icon103:before { content: "\e65b"; }

.rs-huodongbuchong:before { content: "\e665"; }

.rs-xuanze:before { content: "\e670"; }

.rs-zhifu:before { content: "\e698"; }

.rs-nexts1:before { content: "\e67c"; }

.rs-chaoshi:before { content: "\e660"; }

.rs-xuanzhong:before { content: "\e671"; }

.rs-changci:before { content: "\e66a"; }

.rs-jiu:before { content: "\e675"; }

.rs-tupian:before { content: "\e679"; }

.rs-dianhua:before { content: "\e676"; }

.rs-zhankai:before { content: "\e678"; }

.rs-huodongdudao:before { content: "\e66c"; }

.rs-huodongquxiao2:before { content: "\e66f"; }

.rs-huodongzhihang:before { content: "\e66d"; }

.rs-huodongbeian:before { content: "\e66e"; }

.rs-shoucang4:before { content: "\e674"; }

.rs-wenjian:before { content: "\e68c"; }

.rs-hide1:before { content: "\e8ae"; }

.rs-previous-copy1:before { content: "\e8af"; }

.rs-shangyiye-copy1:before { content: "\e8b0"; }

.rs-nexts:before { content: "\e8b1"; }

.rs-xiayiye:before { content: "\e8b2"; }